html, body{
    margin:0;
    height: 100%;
    width:100%;
    padding: 0;
}
body{
    background-image: url("images/Background.png");
    background-repeat: no-repeat;
    background-color: #071629;
    background-size:100%;
    font-family: "Source Sans Pro","Spin-Cycle-OT";
}
header{
    margin:auto;
    max-width: 76%;
}
header>div{
    margin-top:30px;
}
header>div>div{
    float:right;
}
header>div>div>a{
    color:white;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    padding-left: 53px;
}

.Banner-div-1{
    display: flex;
    flex-direction: column;
    text-align: center;
    color:#FFFFFF;
}
.Banner-div-1>h1{
    font-size: 120px;
    margin-bottom: 10px;

}
.Banner-div-1>p{
    word-spacing: 50px;
    font-size: 16px;
    font-weight: bold;
    margin-top:0px;
}
.Purple_button{
    background-color: #C271FF;
    border-radius: 20px;
    border-color: #C271FF;
    color:white;
    font-weight: 600;
    font-size: 14px;
    margin:auto;
    margin-top:20px;
    margin-bottom: 120px;
    padding: 16px 20px 16px 20px;
    border:none;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.Banner-div-2{
    display: flex;
    flex-direction: column;
    margin-top:100px;
    width: 60%;
    margin:auto;
}
.Banner-div-2>h2{
    color:white;
    text-align: center;
    font-size: 32px;
}

.Banner-div-2>div{
    display: flex;
    justify-content: center;
}
.Banner-Pros{
    display: flex;
    flex-direction: column;
    padding: 60px;
    color:white;
}
.Banner-Pros>img{
    border-radius: 50%;
    max-width: 150px;
    margin:auto;
}
.Banner-Pros>h3{
    text-align: center;
    font-size: 18px;
    font-weight: 900;
    margin-bottom: 2px;
}
.Banner-Pros>p{
    text-align: center;
    font-weight: 200;
    font-size: 16px;
    font-style: italic;
    margin-top: 2px;
}

.Quote{
    background-color: #C271FF;
    margin-top:80px;
}
.Quote>div{
    display: flex;
    padding: 80px;
}
.Quote>div>img{
    border-radius: 50%;
    margin-left: 200px;
    max-width: 150px;
    min-width: 150px;
    height: 100%;
}
.Quote-block{
    color:white;
    display:flex;
    flex-direction: column;
}
.Quote-block>blockquote{
    max-width: 730px;
    font-size: 22px;
}
.Quote-block>p{
    font-size: 22px;
    margin-inline-start: 40px;
    margin:2px 40px 2px 40px;
}

.Videos{
    background-color: white;
    display: flex;
    margin:auto;
    flex-direction: column;
}
.Videos>h1{
    text-align: center;
    margin-top:80px;
    margin-bottom:60px;
    font-weight: 300;
    font-size: 32px;
}
.Video_container{
    display: grid;
    grid-auto-flow: column;
    flex:content;
    width: 80%;
    margin:auto;
    margin-bottom: 100px;
}
.Video_container>div{
    padding:10px;
}
.Video{
    display: grid;
    position: relative;
    grid-template-rows:max-content 1 ;
}
.Video>img{
    position: relative;
    grid-row: 1;
    grid-column: 1;
    border-radius: 10px 10px 0px 0px;
}
.Video_container>div>h2{
    font-size: 16px;
    max-width: 106px;
    padding-left: 13px;
}
.Video_container>div>p{
    font-weight: 200;
    padding-left: 13px;
    max-width: 255px;
    color:rgba(0,0,0,0.5)
}
.Ref{
    display: flex;
    padding-left: 13px;
}
.Ref>img{
    border-radius: 50%;
    width: 30px;
    height: 30px;
}
.Ref>h3{
    margin:auto;
    margin-left: 10px;
    font-size: 14px;
    font-weight: 600;
}
.Stars{
    display: flex;
    padding-left: 13px;
    padding-right: 13px;
}
.Stars>div{
    margin:auto;
    margin-left: 0px;
}
.Stars>p{
    float: right;
}

.Membership{
    margin-top:40px;
    display: flex;
    flex-direction: column;
    text-align: center;
    color:#FFFFFF;
}
.Membership>h1{
    font-size: 32px;;
}
.Membership>div{
    display: grid;
    grid-auto-flow: column;
    width: 80%;
    margin:auto;
    margin-top:30px;
}
.Membership>div>div>h2{
    font-size: 18px;
    font-weight:600; 
}
.Membership>div>div>p{
    font-weight: 100;
    max-width: 212px;
    margin: auto;
}
.Membership>button{
    margin-top: 70px;
    margin-bottom: 60px;
}

.Faq{
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
 }
.Faq>div{
    display: grid;
    width: 80%;
    margin:auto;
}
.Faq>div>div{
    display: flex;
    margin:auto;
}
.Faq_exp{
    padding-right: 80px;
    padding-left: 80px;
}
.Faq_h2{
    text-align: left;
    font-size: 16px;
}
.Faq_p{
    font-size: 14px;
    text-align: left;
    width: 350px;
    font-weight: 400;
    color:rgba(0,0,0,0.5)
}

.Footer{
    margin:auto;
    margin-top: 60px;
    width:76%;
}
.Footer_links{
    float:right;
}
.Footer>p{
    text-align: center;
    padding-top: 40px;
    padding-bottom: 15px;
    font-size: 12px;
    font-weight: 400;
    color:rgba(255,255,255,.3517);
}
